*~
*#
*.DS_Store
modelCharacteristics.mat
Thumbs.db
config/sshCfgPrivate.jl
test/*.txt
test/testFile.mat
test/ecoli_core_model.mat
ecoli_core_model.mat
*.ipynb_checkpoints
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
docs/build/
docs/tutorial/results.mat
results/*
test/testModels
Manifest.toml
docs/src/tutorials.md
